  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
<footer>
  <style>
    footer {
        background-color: #0077cc;
        color: white;
        text-align: center;
        font-size: 14px;
        margin-top: 20px;
        font-family: "Trirong", serif;
    }
    #copyright {
        color: #fff;
    }
  </style>
  <p id="copyright">&copy; {{currentYear}} Team 11, HAMK</p>
</footer>