<!DOCTYPE html>
<html lang="en">
<head>  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather Forecast</title>
  <style>
header {
  background-color: #0077cc;
  color: white;
  align-items: center;
  padding: 10px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-end !important;
  align-items: center;
  flex-grow: 1;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Trirong", serif;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

nav a:first-of-type {
  margin-right: auto;
}

/* Media queries for mobile devices */
@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: stretch;
  }

  nav a {
    display: block;
    margin-bottom: 5px;
  }

  nav a:first-of-type {
    margin-right: 0;
  }
}
  </style>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/weather">Weather</a>
      {{#if user}}
        <a href="/favorite-locations">Favorite Locations</a>
        <a href="/user/logout">Logout</a>
      {{else}}
        <a href="/register">Register</a>
        <a href="/login">Login</a>
      {{/if}}
    </nav>
  </header>