<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <header>
    <h1>Login</h1>
    <style>
    html {
      height: 100%;
    }

    body {
      display: flex;
      flex-direction: column;
      min-height: 100%;
    }

    main {
      flex-grow: 1;
    }
    </style>
  </header>
  
  <main>
    <form action="/user/login" method="post">
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required aria-label="Email">
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required aria-label="Password">
      </div>
      <div>
        <button type="submit" aria-label="Login">Login</button>
      </div>
    </form>

    <p>Don't have an account? <a href="/register">Register</a></p>
  </main>
  <footer>
    {{> footer}}
  </footer>
</body>
</html>