<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <header>
    <h1>Register</h1>
    <style>
    html {
      height: 100%;
    }

    body {
      display: flex;
      flex-direction: column;
      min-height: 98%;
    }

    main {
      flex-grow: 1;
    }
    </style>
  </header>
  
  <main>
    <form action="/user/register" method="post">
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required aria-required="true" aria-describedby="emailHelp">
        <p id="emailHelp" hidden>Please enter your email address.</p>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required aria-required="true" aria-describedby="passwordHelp">
        <p id="passwordHelp" hidden>Please enter a strong password.</p>
      </div>
      <div>
        <button type="submit" aria-label="Register">Register</button>
      </div>
    </form>

    <p>Already have an account? <a href="/login">Log in</a></p>
  </main>
  <footer>
    {{> footer}}
  </footer>
</body>
</html>